.title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.img img {
    width: 100%;
}

.main p {
    box-sizing: border-box;
    border: 1px solid #aaa;
    padding: 20px;
    background-color: rgb(0, 232, 240);
    margin-top: 20px;
    line-height: 28px;
    border-radius: 10px;
}

.main p:hover {
    transform: translateY(-2px);
    transition: all 0.5s;
}