@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1654570778786') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\f012a";
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiangji:before {
  content: "\e7b9";
}

.icon-dianhua-xianxingyuankuang:before {
  content: "\e8bc";
}

.icon-xiecheng:before {
  content: "\e798";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-youtube:before {
  content: "\ea07";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-shuangdayuhao:before {
  content: "\e502";
}

.icon-tuite:before {
  content: "\ee49";
}

