.content {
    overflow: hidden;
    clear: both;
    width: 80%;
    margin: 0 auto;
}

.content .left {
    width: 60%;
    box-sizing: border-box;
    float: left;
    margin-right: 10%;
}

.content .right {
    width: 30%;
    box-sizing: border-box;
    float: left;
}

.left-title {
    overflow: hidden;
    clear: both;
    height: 45px;
    line-height: 40px;
    margin-top: 20px;
    border-top: 2px solid rgb(111, 4, 4);
    box-sizing: border-box;
    padding: 0 10px;
    border-bottom: 1px solid #333;
}

.left-title h3 {
    float: left;
    font-size: 24px;
    color: rgb(166, 4, 4);
}

.left-title span {
    float: right;
    font-size: 15px;
}

.left .item-cont {
    text-align: center;
    font-size: 24px;
    color: rgb(8, 25, 81);
    cursor: pointer;
}

.left .item-cont p {
    line-height: 40px;
}

.left .item-cont p:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: rgb(15, 0, 226);
}

.left .item-cont p:nth-child(2) {
    font-size: 20px;
}

.left .item-list {
    padding-left: 50px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px dashed #aaa;
    padding-bottom: 20px;
}

.left .item-list li {
    line-height: 24px;
    margin-top: 10px;
    color: rgb(101, 92, 226);
}

.left .item-list li:hover {
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
}

.right .right-title {
    background-color: rgb(255, 255, 255);
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    padding-left: 30px;
}

.right .fire-list {
    padding-left: 10px;
}

.right .fire-list li {
    margin-top: 15px;
    cursor: pointer;
}

.right .fire-list li img {
    width: 100%;
}

.right .fire-list li span {
    margin-right: 30px;
}

.right .fire-list li:hover {
    color: rgb(8, 8, 146);
    text-decoration: underline;
}

.right .fire-list li:hover>span {
    color: #000;
    text-decoration: none;
}

.right .fire {
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(248, 249, 250);
    box-sizing: border-box;
    padding-bottom: 20px;
}

.fire .fire-title {
    padding: 20px 10px;
}

.fire .cn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 15px;
}

.fire .cn span {
    padding: 3px 5px;
    border: 1px solid #aaa;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}


/* 第二页 */

.return {
    height: 40px;
    width: 100%;
}

.return a img {
    height: 100%;
    padding-left: 50px;
    vertical-align: middle;
}

.left .big-title {
    font-size: 40px;
    padding: 20px 0;
}

.left .big-title span {
    display: block;
    font-size: 16px;
    color: rgb(37, 69, 183);
    margin-top: 30px;
}

.left .desc {
    box-sizing: border-box;
    padding: 20px;
}

.left .desc p {
    text-align: right;
}

.right .dtm {
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.right .dtm span {
    display: block;
    color: rgb(6, 6, 71);
    font-size: 14px;
    margin-top: 5px;
}