* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: url(../images/bg.png) no-repeat center center;
    background-size: 100% 100%;
}

.box {
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}

.box p {
    margin-top: 20px;
    text-indent: 6em;
}

.login {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.login table {
    width: 100%;
}

td {
    height: 40px;
    font-size: 20px;
}

tr td:nth-child(1) {
    text-align: right;
    box-sizing: border-box;
    padding-right: 30px;
}

td input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid #000;
    color: white;
}

.boxs {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.boxs button {
    background-color: transparent;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid #000;
    cursor: pointer;
}