.header {
    height: 75px;
    background-color: var(--main2);
    color: var(--main1);
    position: relative;
}

.header .i1 {
    display: none;
}

.header-list {
    line-height: 75px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.header-list a>li {
    line-height: 75px;
    height: 75px;
    margin-right: 40px;
    color: var(--main1);
    font-size: 16px;
    font-weight: 900;
    position: relative;
}

.header-list a>li.on {
    margin-right: 60px;
    position: relative;
}

.header-list a>li.on::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 10px solid #000;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    right: -25px;
    top: 34px;
}

.header-list a>li.on:hover .onlist {
    display: block;
}

.header-list a>li.on .onlist {
    width: 180px;
    box-sizing: border-box;
    color: var(--main3);
    border: 1px solid #666;
    position: absolute;
    display: none;
    z-index: 100;
    background-color: var(--main2);
}

.header-list a>li.on .onlist>li {
    color: var(--main-3);
    margin-top: 10px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-list a>li.on .onlist>li:hover {
    background-color: rgb(248, 249, 250);
}

.header-icon {
    position: absolute;
    right: 12px;
    top: 22px;
    transform: rotateY(180deg);
    cursor: default;
}

.header-icon span {
    font-weight: 900;
    font-size: 18px;
}


/* --------------------------------分界线------------------------------ */

.content-background {
    width: 100%;
    height: 500px;
    background: url(../images/banner.jpg) no-repeat center center;
    background-size: 100%;
    position: relative;
}

.content-background .img-box {
    position: absolute;
    top: 50%;
    margin-top: -10%;
    left: 50%;
    margin-left: -10%;
}

.content-background .cont-box {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -340px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.content-background .cont-box img {
    width: 90%;
}

.content-background .content-show {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 150px;
    align-items: center;
    background-color: var(--main2);
    /* position: absolute; */
}

.content-background .content-show li {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: var(--main-3);
    font-size: 14px;
}

.content-background .content-show li img {
    width: 57px;
    height: 57px;
}

.content-background .content-show li:hover img {
    transform: translateY(-2px);
    transition: all 0.3s;
}

.content-background .content-show li:hover p {
    text-decoration: underline;
    transition: all 0.3s;
}


/* -------------------------------------------- */

.box {
    margin: 0 auto;
    margin-top: 370px;
    width: 90%;
    overflow: hidden;
    clear: both;
}

.box .img-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.box .img-list li {
    width: 25%;
}

.box .img-list li img {
    width: 100%;
}

.box .img-list li .box-shadow {
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    color: var(--main2);
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
}

.box .img-list li:hover .box-shadow {
    opacity: 1;
    transition: all 0.3s;
}


/* -------------------------------- */

.box .box-left {
    float: left;
    width: 75%;
}

.box .title .commont {
    margin-top: 10px;
}

.box .title.t1 {
    text-align: center;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

.box .title {
    text-align: center;
    margin-bottom: 10px;
}

.box .title h3 {
    margin: 20px 0 10px 0;
    font-size: 30px;
}

.box .title .author {
    margin-bottom: 20px;
    color: var(--main-3);
}


/* ------- */

.box-cont .cont-img.n1 {
    width: 90%;
    margin: 0 auto;
}

.box-cont .cont-img {
    width: 100%;
    margin: 0 auto;
}

.box-cont .cont-img img {
    width: 100%;
}

.box-cont p {
    margin-top: 20px;
}

.box-cont .more {
    text-align: right;
}

.box-cont .date {
    display: block;
    margin-top: 10px;
}

.box-cont .icons {
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}


/* ===================== */

.box-right {
    float: right;
    width: 23%;
}

.right-title.t1 {
    padding-top: 30px;
    margin: 20px 0 10px 0;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: 1px solid #666;
    font-weight: 700;
}

.right-title {
    margin: 20px 0 10px 0;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: 1px solid #666;
    font-weight: 700;
}

.right-search {
    margin-top: 20px;
    width: 100%;
}

.right-search input {
    width: 60%;
}

.right-search button {
    background-color: rgb(67, 235, 216);
    color: var(--main2);
    border: none;
    font-size: 14px;
    margin-left: 10px;
    padding: 2px;
    cursor: pointer;
}

.right-list {
    width: 100%;
}

.right-list li {
    margin-top: 20px;
    overflow: hidden;
    clear: both;
}

.right-list li img {
    width: 25%;
    float: left;
    margin-right: 5%;
}

.right-list li .list-box {
    float: left;
    vertical-align: top;
    width: 70%;
}

.list-box p {
    font-size: 14px;
}

.list-box p.timer {
    color: var(--mian-5);
    font-size: 16px;
}

.right-icons span {
    font-size: 40px;
    margin-right: 15px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

.succions-list b {
    text-align: center;
    display: inline-block;
    font-weight: normal;
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
}

.succions-list li {
    width: 100%;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}

.about-show {
    width: 100%;
}

.about-show .about-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.about-show img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}

.about-show a {
    text-align: center;
    margin-top: 10px;
    display: block;
}


/* ===================================== */

.Photos {
    width: 100%;
}

.photos-title {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
}

.photolist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.photolist li {
    width: 25%;
    position: relative;
    overflow: hidden;
}

.photolist li img {
    width: 100%;
    height: 100%;
}

.photolist li .phoshadow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    color: white;
    font-size: 18px;
    text-align: center;
    top: 0;
    position: absolute;
    overflow: hidden;
    opacity: 0;
}

.photolist li .phoshadow p {
    /* margin-top: 20px; */
    margin-top: -100px;
}

.photolist li:hover .phoshadow {
    opacity: 1;
    transition: all 0.3s;
}

.photolist li:hover .phoshadow p {
    margin-top: 20px;
    transition: all 0.3s;
}

.photolist li:hover img {
    transform: scale(1.3);
    transition: all 0.3s;
}


/* =========================== */

.footer {
    background-color: var(--main-4);
    color: var(--main2);
}

.inner {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-title {
    margin: 20px 0 10px 0;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom: 2px solid rgb(222, 226, 230);
    color: var(--main2);
}

.footertop {
    width: 30%;
    margin-right: 3%;
}

.footer-list {
    width: 100%;
}

.footer-list li {
    overflow: hidden;
    clear: both;
    margin-top: 10px;
}

.footer-list li img {
    float: left;
    width: 25%;
}

.footer-list li .footerright {
    width: 70%;
    float: left;
    margin-left: 5%;
    font-size: 14px;
}

.footerbottom {
    width: 100%;
}


/*  */

.i1 {
    height: 100%;
    padding-left: 20px;
}

.i1 span {
    font-size: 20px;
}

.i1-list {
    display: none;
}

.i1:hover .i1-list {
    display: block;
}