/* CSS Document */

.main {
    width: 100%;
    margin-top: 40px;
    height: 400px;
}

.main .inner {
    overflow: hidden;
    clear: both;
}

.main .inner .left {
    float: left;
    width: 40%;
}

.left .imgbox {
    width: 100%;
    position: relative;
}

.imgbox img {
    width: 100%;
    height: 400px;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
}

.navbar {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.navbar li.on {
    background-color: rgb(0, 74, 158);
}

.main .inner .right {
    float: right;
    width: 60%;
    padding-left: 30px;
    box-sizing: border-box;
    position: relative;
}

.title-list {
    display: flex;
    justify-content: space-around;
}

.title-list li {
    line-height: 40px;
    width: 23%;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}

.title-list li.on {
    background-color: rgb(0, 74, 158);
    color: white;
}

.info-list {
    width: 100%;
}

.info-list li {
    position: relative;
    height: 50px;
    border-bottom: 1px dashed #aaa;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
}

.info-list .data {
    position: absolute;
    right: 0;
    top: 0px;
    color: #aaa;
}

.more {
    color: rgb(87, 87, 87);
    font-size: 14px;
    position: absolute;
    right: 0;
    margin-top: 20px;
    cursor: pointer;
}

.title {
    margin: 40px 0 20px 0;
}

.title .inner {
    position: relative;
    background-color: rgb(0, 73, 152);
    height: 40px;
    color: white;
    line-height: 40px;
    font-size: 18px;
}

.title .inner span {
    padding: 0 20px;
    padding-bottom: 5px;
}

.title .inner span img {
    vertical-align: middle;
}

.title .inner .more {
    top: 0;
    color: white;
    margin-right: 10px;
    margin-top: 0;
}

.imgs-show .inner {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.imgs-show .inner li {
    width: 20%;
    box-shadow: 0 0 5px 2px #aaa;
}

.imgs-show.no .inner li {
    box-shadow: none;
}

.imgs-show .inner li .box {
    width: 100%;
}

.imgs-show .inner li .box img {
    width: 100%;
    height: 150px;
}

.imgs-show .inner li .tilt {
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
}

.imgs-show .inner li p {
    text-align: center;
    line-height: 25px;
    font-size: 12px;
}

.desc {
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 12px;
    color: #aaa;
}

.le,
.re {
    font-size: 60px;
    color: #aaa;
    cursor: pointer;
    position: absolute;
}

.le {
    left: -20px;
    top: 30px;
}

.re {
    right: -20px;
    top: 30px;
}

.lj {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(0, 73, 152);
}

.lj .inner {
    overflow: hidden;
    clear: both;
    box-sizing: border-box;
    padding: 0 50px 0 30px;
}

.lj .inner .left {
    float: left;
    width: 10%;
    font-size: 12px;
    font-weight: 600;
}

.lj .inner .right {
    float: left;
    width: 80%;
    margin-left: 5%;
}

.lj .inner .right span {
    display: inline-block;
    margin: 10px 20px 0 20px;
    font-size: 14px;
    cursor: pointer;
}