@media screen and (max-width:768px) {
    .header .i1 {
        display: block !important;
        padding-top: 20px;
        color: #000;
    }
    .header .i1 .i1-list a li {
        color: #000;
    }
    .header .i1 .i1-list a li.on:hover .onlist {
        display: block;
        height: 150px;
    }
    .i1 .header-list {
        height: 300px;
    }
    .onlist {
        display: none;
    }
    .header {
        overflow: visible;
    }
    #list {
        display: none !important;
    }
    .content-background {
        height: 200px !important;
    }
    .img-box img {
        width: 100%;
    }
    .img-box {
        margin-top: -20% !important;
        margin-left: -51% !important;
    }
    .cont-box {
        bottom: -217px !important;
    }
    .content-background .content-show {
        flex-wrap: wrap;
        width: 100% !important;
    }
    .content-background .content-show li {
        width: 30%;
        margin-right: 0 !important;
    }
    .t2 {
        width: 100% !important;
        position: absolute;
        top: 235px;
    }
    .box .img-list {
        margin-top: 30px;
    }
    .box .img-list li {
        width: 50% !important;
    }
    .box .box-left {
        float: none !important;
        width: 100% !important;
    }
    .box .box-right {
        float: none !important;
        width: 100%;
    }
    .inner {
        width: 80% !important;
    }
    .photolist li {
        width: 100% !important;
    }
    .footertop {
        width: 100% !important;
        margin-right: 0 !important;
    }
    .tt2 {
        width: 100%;
    }
    .box .img-list li .box-shadow {
        width: 50% !important;
        height: 50% !important;
    }
}