.banner {
    width: 100%;
    position: relative;
    margin: 20px 0;
}

.banner img {
    width: 100%;
    height: 360px;
}

.banner .ti {
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: rgba(0, 0, 0, .5);
}

.ti .title {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.ti .t2 {
    margin: 10px 0;
    font-size: 18px;
    color: white;
}

.ti .t3 {
    margin: 10px 0;
    font-size: 14px;
    color: white;
}

.ti span {
    background-color: rgb(2, 59, 192);
    padding: 0 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.i {
    position: absolute;
    font-size: 18px;
    transform: rotate(-10deg);
    color: white;
    bottom: 38px;
    right: 310px;
    background-color: rgba(0, 0, 0, .5);
}

.show {
    overflow: hidden;
    clear: both;
    width: 100%;
}

.left {
    float: left;
    width: 30%;
    margin-right: 3%;
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding: 10px;
    height: 277px;
}

.show-title {
    height: 40px;
    line-height: 40px;
}

.show-title span {
    font-size: 15px;
    color: #aaa;
    padding-left: 10px;
}

.show-this {
    overflow: hidden;
    clear: both;
    margin-top: 10px;
}

.show-this .show-titles {
    color: rgb(14, 31, 147);
    position: relative;
    margin-bottom: 10px;
}

.data {
    position: absolute;
    right: 0;
    color: #aaa;
    font-size: 15px;
}

.img {
    float: left;
    width: 35%;
}

.img img {
    width: 100%;
}

.show-this p {
    float: right;
    text-indent: 2em;
    font-size: 14px;
    color: #aaa;
    width: 60%;
}

.list {
    margin-top: 10px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
}

.list span {
    font-size: 12px;
    padding-right: 5px;
}

.middle {
    float: left;
    margin-right: 3%;
    height: 277px;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #aaa;
}

.lis {
    overflow: hidden;
    clear: both;
    width: 100%;
}

.lis .lefts {
    width: 60%;
    box-sizing: border-box;
    float: left;
}

.lis .rights {
    float: left;
    width: 40%;
}

.lis .rights img {
    width: 80%;
}

.lefts-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.lefts p {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 10px;
}

.lefts span {
    color: rgb(14, 31, 147);
    font-size: 12px;
    cursor: pointer;
}

.right {
    width: 30%;
    height: 277px;
}

.right .ls {
    overflow: hidden;
    clear: both;
    border: 1px solid #aaa;
    height: 30%;
    box-sizing: border-box;
    padding: 5px;
    background: linear-gradient(to bottom, white, #aaa);
    border-radius: 2px;
    margin-bottom: 3%;
}

.lp {
    width: 30%;
    float: left;
}

.lp img {
    width: 100%;
}

.lo {
    float: left;
    font-size: 18px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 15px;
}

.p {
    color: #aaa;
}

.s {
    color: red;
}

.h {
    font-size: 24px;
}