body {
    background: linear-gradient(200deg, #72afd3, #96fbc4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    width: 25%;
    margin: 0 auto;
}

.container .input-box {
    width: 100%;
}

.login-box {
    position: relative;
}

.imgbox {
    position: absolute;
    top: -78px;
    left: 50%;
    transform: translateX(-50%);
}

.hed .left,
.hed .right {
    width: 40px;
    height: 30px;
    background-color: rgb(71, 45, 32);
    border-radius: 50%;
    position: absolute;
}

.hed .left {
    bottom: 0;
}

.hed .right {
    right: 0;
    bottom: 0;
}

.input-box input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 0 5px 0 #aaa;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 10px;
}

.input-box input:focus {
    outline: 1px solid rgb(0, 255, 76);
}

.input-box button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: rgb(32, 178, 170);
    color: white;
    line-height: 40px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.title {
    width: 100%;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    text-align: center;
    line-height: 50px;
}

.info {
    position: absolute;
    bottom: 20px;
    font-size: 1rem;
    user-select: none;
    cursor: not-allowed;
    display: none;
}

@media screen and (max-width:768px) {
    .container {
        width: 80% !important;
    }
}